    
{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Breadcrumb Section -->


    <div class="breadcrumb project-list-breadcrumb blog-breadcrumb" style = "background: url({% static '/images/About top image.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-left">
                        <img src="{% static 'images/Home/yellow stroke.png' %}" alt="">
                        <h1>About Us</h1>
                        <!-- <h3><a href="index.html">Home</a> - About Us</h3> -->
                        <h3>Our sky, air and water</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="our-vision  padding-top-40 padding-bottom-70">
        <div class="container">
            <h2 class="text-center blue-heading mb-4">Our Vision <img src = "{% static 'images/graphics/vision.png' %}" class = "below-heading"></h2>
            <img src="{% static 'images/Home/vision 1.png' %}" alt="" class = "vision-img1 ">
            <img src="{% static 'images/Home/vision 2.png' %}" alt="" class = "vision-img2 ">
            <img src="{% static 'images/Home/vision 3.png' %}" alt="" class = "vision-img3 ">
            <img src="{% static '/images/Home/vision 4.png' %}" alt="" class = "vision-img4 ">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <p >To initiate &amp; nurture<br> inclusive &amp; meaningful learning spaces <br>towards self-reliance &amp; sustainability.</p>
                </div>
               
            </div>
        </div>
    </section>

    <section class="our-mission padding-top-40 padding-bottom-40">
        <div class="container">
            <h2 class = "text-center blue-heading mb-4">Our Mission <img class = "heading-img" src = "{% static 'images/graphics/mission.png' %}"></h2>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'images/Projects/mission 1.png' %}" alt="">
                        </div>

                        <div class="col-md-8">
                            <p>Enabling inclusive, joyous safe spaces with freedom of expression and respect</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'images/Projects/mission 3.png' %}" alt="">
                        </div>

                        <div class="col-md-8">
                            <p>Cultivating  a culture of self-awareness, joyful learning & meaningful dialogues</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mt-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'images/Projects/mission 2.png' %}" alt="">
                        </div>

                        <div class="col-md-8">
                            <p>Enabling a community-driven sustainable model</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'images/Projects/mission 6.png' %}" alt="">
                        </div>

                        <div class="col-md-8">
                            <p>Facilitating meaningful learning experiences & explorations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class = "approach padding-top-20 padding-bottom-20">
        <div class="container">
            <h2 class = "blue-heading text-center">Our Approach <img class = "heading-img" src = "{% static 'images/graphics/our-approach.png' %}"></h2>
            <p class = "text-center black-p mt-3" >Working on the vision to create self-sustaining communities, it would require 2-3 years of
                intervention to fulfill the mission and objectives. The intervention centers on
                children while exploring the opportunities for growth and upliftment for the entire
                community.</p>
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static  'images/Projects/approach 1.png' %}" alt="">
                </div>
                <div class="col-md-8">
                    <p class = "black-p">The process starts with the team getting involved in this community for a significant time in different capacities so that there is a fair amount of understanding and trust between the team, children, youth, and adults in the community.</p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <p class = "black-p">This is followed by creating a safe space for the children which caters to their literacy and emotional needs. Also, programs for girls, women, and other members of the community who express their need to learn as well are designed.</p>
                </div>

                <div class="col-md-6">
                    <img src="{% static 'images/Projects/approach 2.png' %}" alt="" class = "img-inline-block img-fluid">
                    <img src="{% static 'images/Projects/approach 3.png' %}" alt=""  class = "img-inline-block img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="academic padding-top-20 padding-bottom-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class = "blue-heading"><img src = "{% static 'images/Projects/ACAD1.png' %}" class = "heading-img"> Engagement (Learning Center) <img src="{% static 'images/Projects/ACAD2.png' %}" alt="" class = "heading-img"></h2>
                </div>
                <div class="col-md-4 mt-5">
                    <p class = "black-p">As we started the interaction with various groups, we felt the need for a space that would spell continuity and consistency untouched by the vagaries of weather as well as foster learning in a more holistic manner. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class = "black-p">A space that the community could nurture and identify with as a repository of learning. Moreover seeing the response of the children to the post-Covid situation, emerged the idea of a learning center owned and cared for by the community. The Purpose is to co-create an enabling environment to foster the potential and wellbeing of all, particularly the children and youth. Learning Centre will be a go-to space for learning and holistic growth. A small library, space for classes and also space where women and girls can learn vocational skills. </p>
                    <p class = "black-p"><strong>The centre would enable the following-</strong></p>
                    <ul style = "list-style-type: square; color: black;">
                        <li>School Readiness Programme</li>
                        <li>Academic Support Programme</li>
                        <li>Programme for drop-outs</li>
                        <li>Adult Literacy Programme</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section class="doc-collab padding-top-40 padding-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                    <h3 class = "blue-heading"><img src="{% static 'images/Projects/MC1.png' %}" alt="" class = "heading-img"> Meaningful Collaborations (Gov. Documentation, medical, etc.) <img src="{% static 'images/Projects/MC2.png' %}" alt="" class = "heading-img"></h3>
                    
                </div>

                <div class="col-md-4 mt-3">
                    <p class = "black-p mt-5">Since the nature of complexities in the community is many fold, they need more support structure and thus we would be collaborating with local NGO’s, philanthropists, doctors, MC’s, government </p>
                </div>
            </div>
            <p class="black-p">Officials so as to build a sustainable support system for them to address issues of medical, food, livelihood, skill-building, vocational training, documentation, and convergence of welfare schemes. </p>
            <p class="black-p">To date, we have collaborated with Government bodies like District Administration Patiala and also with organizations like Haqdarshaq, Goonj, Oorjaa, Navgurukul & Sajhe Sapne to provide platforms to the kids of the Basti. Local organizations and associations have also played a major role in helping us to grow our network and resources. </p>
        </div>
    </section>

    <section class="community padding-top-20 padding-bottom-20">
        <div class="container">
            <h2 class="blue-heading text-center"> <img src="{% static 'images/Projects/CD1.png' %}" alt="" class="heading-img"> Community Dialogue <img src="{% static 'images/Projects/CD2.png' %}" alt="" class="heading-img"> </h2>
            <div class="row">
                <div class="col-12">
                    <p class="black-p">
                        To foster a culture of eager curiosity, acceptance, openness for change, self-evaluation, identifying issues, and co-creating solutions through dialogue amongst all members of the community. Inclusion, respect, and dialogue would be the key to make them a self-sustainable community. 
                    </p>
                </div>    
            </div>
        </div>
    </section>
    <section class="community padding-top-20 padding-bottom-20">
        <div class="container">
            <h2 class="blue-heading text-center"> <img src="{% static 'images/Projects/SKILL DEV 1.png' %}" alt="" class="heading-img">Livelihood &amp; Skill Development<img src="{% static 'images/Projects/SKILL DEV 2.png' %}" alt="" class="heading-img"> </h2>
            <div class="row">
                <div class="col-12">
                    <p class="black-p">
                        Since many children and women in the community depend on begging for their income they want an alternative path, respecting their boundaries and cultural norms, which can generate an income for them. Currently, many girls and women have learnt to stitch and the idea is to utilise the existing skill and building new ones to help them in order to generate work opportunities for them. 
                    </p>
                </div>    
            </div>
        </div>
    </section>
    <section class="community padding-top-20 padding-bottom-20">
        <div class="container">
            <h2 class="blue-heading text-center"> <img src="{% static 'images/Projects/LOCAL LEADERS ICON1.png' %}" alt="" class="heading-img">Local Leaders, <br> training & Connections<img src="{% static 'images/Projects/LOCAL LEADERS ICON2.png' %}" alt="" class="heading-img"> </h2>
            <div class="row">
                <div class="col-12">
                    <p class="black-p">
                        We aim to build a network of local leaders within the community who are enthusiastic, open-minded and inclusive who can sustain the change. These local leaders will become the agents of change and points of contact for various developments that are being made. 
                    </p>
                    <p class="black-p">The idea is to identify such leaders (becomes our fellows), train them along the journey and based on their interests, skills & commitment can take up the tasks related to running a school readiness programme, livelihood programmes, adult literacy programmes, etc. We will ensure to connect them with all the possible connections and resources. </p>
                </div>    
            </div>
        </div>
    </section>

    <section class = "padding-top-20 padding-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class = "text-center" style = "color: #165b92; font-size: 40px; line-height: 1.7; text-shadow: -3px -3px 5px rgb(22,91,146, 0.9);font-family: Purisa">WE BELIEVE IN MAKING MISTAKES AND LEARNING-UNLEARNING FROM THEM! 
                        THIS IS WHAT WE HAVE LEARNT TILL NOW FROM OURS AND WE WILL UPDATING IT AS WE LEARN, RELEARN AND UNLEARN!!</h4>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img src="{% static 'images/our values.png' %}" alt="" class = "img-fluid">
                </div>
            </div>
        </div>
    </section>


    {% endblock %}
  