
        <!-- Breadcrumb Section -->
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="breadcrumb-left">
                            <img src="{% static 'images/slide-left.png' %}" alt="">
                            <h1>Error page</h1>
                            <h3><a href="{% url 'home:homepage' %}">Home</a> - 404 page</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="not-found">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="not-found-img text-center padding-top-100">
                            <img src="{% static 'images/404-page.png' %}" alt="">
                            <a href="{% url 'home:homepage' %}">home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   