{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Breadcrumb Section -->
    <div class="breadcrumb project-list-breadcrumb" style = "background: url({% static 'images/Our team top image.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-left">
                        <img src="{% static 'images/Home/yellow stroke.png' %}" alt="">
                        <h1>Our Team</h1>
                        <h3>Our Vyakti, Our Earth, Our Fire</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="core-team volunteer-team team-members volunteer-section padding-top-40 padding-bottom-40">
        <div class="container vector-container">
            <!--   -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title text-center margin-bottom-55">
                        <h2 class = "blue-heading">Core Team <img src="{% static 'images/team/Core team title.png' %}" class = "heading-img" alt=""></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/Shailaja.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Shailaja</h3>
                            <h5>Educator Program Coordinator</h5>
                            <p class = "mt-2">With a belief of ‘teaching from the heart, not the head’, Shailaja is the heart and the brain of the Educator Program. Her love for teaching, kids and questions makes her the Go-to person for all our doubts in the organization.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/DEV.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Dev</h3>
                            <h5>Mentor</h5>
                            <p class = "mt-2">A Musaffir by heart and a Jugaadu by mind, Dev has years of experience in almost every profession in the world. From living with kids on streets for 5 years to co-creating a sustainable space for them to being a chef in a college canteen, he has done it all.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/Harsh pic.jpg' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Harsh Kothari</h3>
                            <h5>Founder-Director & Educator</h5>
                            <p class = "mt-2">The thinker, flexer, reflecter and an all in one package of the organization. Harsh founded the organization with the passion and belief to create child-friendly safe spaces for every kid. His happy place is with group of kids having dialogue about anything and everything, and we are sure it is same for the kids too.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/Riya pic.jpg' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Riya</h3>
                            <h5>Educator & Content Creator</h5>
                            <p class = "mt-2">Always on the look-out for the good vibes, people & stories, Riya is the story-collector as well as story-teller of the organization. With a hope and belief to create a safe space for women in the Basti, she is currently enabling the Women Engagement Program in the Basti.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/Charu.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Charu</h3>
                            <h5>Educator & Content Creator</h5>
                            <p class = "mt-2">An abundance of questions, reflections and theatre, Charu is someone who can surprise you with her impromptu and on the spot facilitation acts. An integral part of the journey to create Systems and Processes for the organization, she has the knack to ask the most difficult questions with most sincerity.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/mehul.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Mehul</h3>
                            <h5>Finance System Coordinator</h5>
                            <p class = "mt-2">You see him, his weirdness and his energy and there is no way you can love him. A clown by Heart and Mind, Mehul has the ability to drive the most difficult and uncomfortable conversations and still make you comfortable with his goofiness and craziness.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/Arwinder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Arwinder</h3>
                            <h5>Technical Support Lead
                            </h5>
                            <p class = "mt-2">An in-house encyclopedia of the organization who can discuss any topic for hours, Arwinder is the one stop ‘technical’ solution provider to all our big as well as silly problems. Always asking relevant and logical reflective questions, he is our compass to get the topic on track whenever discussions get haywire.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="{% static 'images/team/shradha.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Shradha</h3>
                            <h5>Branding Consultant
                            </h5>
                            <p class = "mt-2">The moment you see her, talk to her, you will know that there is no such thing as filter in her dictionary. She has the ability to lighten up any place with her famous ‘truth-twisted’ stories. An IIM-C graduate, she is the checkpoint for the professionalism and aesthetic in all of our branding documents and pitches.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row core-team-row">
                <div class="col-md-6 text-center">
                    <img src="assets/images/team/Harsh pic.jpg" class = "img-fluid">
                </div>

                <div class="col-md-6">
                    <h2>Harsh Kothari</h2>
                    <h4>Founder-Director & Educator</h4>
                    <p>The thinker, flexer, reflecter and an all in one package of the organization. Harsh founded the organization with the passion and belief to create child-friendly safe spaces for every kid. His happy place is with group of kids having dialogue about anything and everything, and we are sure it is same for the kids too. </p>

                    <p>He loves to live life in the extremes and can be found either connecting with people or reading a book amidst the mountains alone!</p>
                </div>
                
               
                
            </div> -->

        </div>
    </section>

    <!-- Volunteer Section -->
    <section class="educator-team volunteer-team team-members volunteer-section padding-top-40 padding-bottom-40">
        <div class="container vector-container">
            <!--   -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title text-center margin-bottom-55">
                        <h2 class = "blue-heading">Educator Team <img src="{% static 'images/team/Educator Team title icon.png' %}" class = "heading-img" alt=""></h2>
                    </div>
                </div>
            </div>
            <div class="row educator-team-row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Shailaja.png' %}" alt="">
                
                        <div class="designation active-designation" style = "background-color: #ffbd59;">
                            <h5>Shailaja</h5>
                            <p>Overall Educator Program Coordinator</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Harsh pic.jpg' %}" alt="">
                
                        <div class="designation active-designation" style = "background-color: #ffbd59;">
                            <h5>Harsh</h5>
                            <p>Adult Literacy Program </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Riya pic.jpg' %}" alt="" >
                
                        <div class="designation active-designation" style = "background-color: #ffbd59;">
                            <h5>Riya</h5>
                            <p>Adult Literacy Program </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Gurpreet.png' %}" alt="">
                
                        <div class="designation active-designation" style = "background-color: #ffbd59;">
                            <h5>Gurpreet</h5>
                            <p>Adult Literacy Program </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/gunjot.png' %}" alt="">
                
                        <div class="designation active-designation" style = "background-color: #ffbd59;">
                            <h5>Gunjot</h5>
                            <p>Adult Literacy Program </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Amit.png' %}" alt="">
                
                        <div class="designation active-designation" style = "background-color: #ffbd59;">
                            <h5>Amit</h5>
                            <p>Community Leader </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Jyoti.png' %}" alt="">
                
                        <div class="designation active-designation" style = "background-color: #ffbd59;">
                            <h5>Jyoti</h5>
                            <p>Community Leader </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Board Members-->
    <section class=" volunteer-team team-members volunteer-section padding-top-40 padding-bottom-40">
        <div class="container vector-container">
            <!--   -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title text-center margin-bottom-55">
                        <h2 class = "blue-heading">Board Members <img src="{% static 'images/team/Board Member Team.png' %}" class = "heading-img" alt=""></h2>
                    </div>
                </div>
            </div>
            <div class="row board-member-team">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Harsh pic.jpg' %}" alt="">
                
                        <div class="designation active-designation">
                            <h5>Harsh Kothari <img src="{% static 'images/team/Board Member Team.png' %}" class = "" style = "width: 30px; height: 30px; display: inline-block;" alt=""></h5>
                            <p>Founder and Director </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Anupam Sharma.jpg' %}" alt="">
                
                        <div class="designation active-designation">
                            <h5>Anupam Sharma</h5>
                            <p>Advisor, Professor </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="volunteer-column">
                        <div class="overlay"></div>
                        
                        <img src="{% static 'images/team/Himanshu Sharma.jpg' %}" alt="">
                
                        <div class="designation active-designation">
                            <h5>Himanshu Sharma</h5>
                            <p>Co-founder, Software Engineer </p>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </section>
    <!-- Board Members End-->

    <section class="project-list home-project-list padding-top-40">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="title">
                        <h2 class = "blue-heading text-center">Shared Leadership <img src="{% static 'images/team/Shared Leadership icons.png' %}" alt="" class="heading-img"> </h2>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="row grid">
                        <div class="col-lg-6 col-md-6 grid-item education">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/5. Self Learning - Khidki sessions on self awareness with the team.jpeg' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Self Learning</h4>
                                            <p>Khidki sessions on self awareness with the team</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item water">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/6. Learning sessions - Team sharing any story,anecdote,poem,experience from they learnt something.jpeg' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Learning Sessions</h4>
                                            <p>Team sharing any story, anecdote, poem, experience from they learnt something</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item environment">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/4. Reflection - Constantly questioning, learning and unlearning through shared expereinces.png' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Reflection</h4>
                                            <p>Constantly questioning, learning and unlearning through shared experiences</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item health">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/3.Reflection - Educator team sharing what they did and what worked in their classes.png' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Reflection</h4>
                                            <p>Educator team sharing what they did and what worked in their classes</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item environment">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/2.Think Tank - Regular check-in connects and sharing circles.png' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Think Tank</h4>
                                            <p>Regular check-in connects and sharing circles</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 grid-item water">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/1.Think Tank - Core team coming together to discuss everything _ anything we connect with.png' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Think Tank</h4>
                                            <p>Core team coming together to discuss everything & anything we connect with</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 grid-item water">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/7.Workshop - Design thinking workshop to reflect and unlearn.jpg' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Workshop</h4>
                                            <p>Design thinking workshop to reflect and unlearn</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 grid-item water">
                            <div class="messonry-img" style="background-image: url({% static 'images/Sharedleadership/8. Trips - Taking a break to relax and regain the energy and connect with the team.jpeg' %});">
                                <div class="describe">
                                    <div class="content">
                                            <h4>Trips</h4>
                                            <p>Taking a break to relax and regain the energy and connnect with the team</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="volunteer-slider team-members-slider padding-top-85" style = "margin-top: 50px;">
        <div class="container vector-container">
            <div class="apply-to-volunteer">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left-title">
                            <h2>Join our team</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="apply-btn">
                            <a href="{% url 'home:contact' %}" class="call-to-action-btn" style = "background-color: #ffbd59 !important;">Join now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock %}