{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Breadcrumb Section -->
    <div class="breadcrumb connect-breadcrumb" style="background: url({% static 'images/Our programs.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-left">
                        <img src="{% static 'images/Home/yellow stroke.png' %}" alt="">
                        <h1>Our Programs</h1>
                        <!-- <h3><a href="index.html">Home</a> - Our Programs</h3> -->
                        <h3>What we do</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <section class="program campaign-section home1-cp padding-top-40 padding-bottom-40">
        <div class="container">
            <div class="campaign-title">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title text-center inbox-image-3">
                            <h2 class = "blue-heading">Our Programs 
                                <!-- <img src="/assets/images/graphics/program.png" alt=""> -->
                                </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="campaign-content">
                <div class="row">
                    <div class="col-lg-6 col-md-6" >

                        <div class="campaign-column">
                            <!-- <a href="#"><span class="img-top-btn">Health</span></a> -->
                            <div class="img-container">
                                <a href="#safe-space"><img src="{% static 'images/Home/IMG-20210224-WA0008.jpg' %}" alt=""></a>
                            </div>
                            <div class="padding-20">
                               
                                <a href="#safe-space">
                                    <h3>Safe space program</h3>
                                </a>
                                <div class="campaign-column-bottom">
                                    <p>Creating a safe space for the children which caters to the literacy and emotional needs of the kids is one of the firt things of the intervention. A space that would spell continuity and consistency untouched by the vagaries of weather..</p>
                                </div>
                                <a href="#safe-space" class="readmore-btn">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="campaign-column">
                            <!-- <a href="#"><span class="img-top-btn">Health</span></a> -->
                            <div class="img-container">
                                <a href="#women-engagement"><img src="{% static 'images/Home/WhatsApp Image 2021-06-15 at 19.13.45 (2).jpeg' %}" alt=""></a>
                            </div>
                            <div class="padding-20">
                               
                                <a href="#women-engagement">
                                    <h3>Women Engagement Program</h3>
                                </a>
                                <div class="campaign-column-bottom">
                                    <p>While working with communities, women and young girls of the Basti have come up with a need to learn certain life skills, STITCHING being one of them.  Hence a journey began to curate a program that enables a safe space for the...</p>
                                </div>
                                <a href="#women-engagement" class="readmore-btn">read more</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="campaign-column">
                            <!-- <a href="#"><span class="img-top-btn">Health</span></a> -->
                            <div class="img-container">
                                <a href="#youth-led"><img src="{% static 'images/Home/IMG-20210216-WA0029.jpg' %}" alt=""></a>
                            </div>
                            <div class="padding-20">
                               
                                <a href="#youth-led">
                                    <h3>Youth-Led Adult Literacy Programme</h3>
                                </a>
                                <div class="campaign-column-bottom">
                                    <p>Learning does not happen only in
                                        schools, and with this ideology, the
                                        idea of creating a safe space for all
                                        those children who have left schools
                                        or are unable to go to school due to
                                        many circumstances was extended.
                                        Learning will focus on life skills,
                                        social-emotional ......</p>
                                </div>
                                <a href="#youth-led" class="readmore-btn">read more</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6">
                        <div class="campaign-column">
                            <!-- <a href="#"><span class="img-top-btn">Health</span></a> -->
                            <div class="img-container">
                                <a href="#community-intervention"><img src="{% static 'images/Home/Obj 3.jpg' %}" alt=""></a>
                            </div>
                            <div class="padding-20">
                               
                                <a href="#community-intervention">
                                    <h3>Community Intervention
                                        Programme</h3>
                                </a>
                                <div class="campaign-column-bottom">
                                    <p>or a self-sustaining safe space for
                                        kids, it's important to include the
                                        whole community in the
                                        transformation. Hence, a community
                                        intervention program comes up as an
                                        important part of the process. It
                                        includes ensuring the convergence of
                                        services ... </p>
                                </div>
                                <a href="#community-intervention" class="readmore-btn">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="project-single  padding-top-40" id = "safe-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <h2 class="blue-heading margin-bottom-45 text-center">Safe Space Program <img src="{% static 'images/graphics/safe-space.png' %}" class = "heading-img" alt=""></h2>
                        <div class="single-post-slider">
                            <div class="post-slider">
                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Community leader Amit ji with his class waiting for school Auto.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Community leader Amit ji with his class waiting for school Auto</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>
                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Cute little corner of the center.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Cute little corner of the center</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>
                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Doing artwork in the open ground.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Doing artwork in the open ground</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Fist day of school after second wave.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>First day of school after second wave</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Kids discussing the ground rules of learning center.jpg' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Kids discussing the ground rules of learning center</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Kids in their zone in the center.png'%}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Kids in their zone in the center</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Learning center entrance.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Learning center entrance</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Learning is defined by the learner, not four walls of the classroom.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Learning is defined by the learner, not four walls of the classroom</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>


                                <div class="single-slide">
                                    <img src="{% static 'mages/Safe Space Program/Story telling session with the younger kids.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Story telling session with the younger kids</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>


                                <div class="single-slide">
                                    <img src="{% static 'images/Safe Space Program/Tanka jhaki in other classrooms.png' %}" alt="" class = "img-fluid">
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Tanka jhaki in other classrooms</p>
                                            </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>


                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-8 text-justify">
                                <p>Creating a safe space for the children which caters to the literacy and emotional needs of the kids is one of the first things of the intervention. A space that would spell continuity and consistency untouched by the vagaries of weather as well as foster learning in a more holistic manner. A space that the community could nurture and identify with as a repository of learning. </p>
                               
                            </div>

                            <div class="col-md-4">
                                <img src = "{% static 'images/Projects/ssp 1.png' %}" class = "program-image">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'images/Projects/ssp 3.png' %}" alt="">
                            </div>

                            <div class="col-md-8">
                                <h4 class = "my-3">The centre would enable the following-</h4>
                                <p>
                                    <strong><u>School Readiness Programme:</u></strong> Programme will focus on the younger kids who are ready to go to school as per their age but still not able to access school. Storytelling, theatre, music, movement, art, will help children to develop listening, teamwork, a sense of confidence to be ready to step into the new world. </p>

                                <p>
                                <strong><u>Academic Support Programme:</u></strong>  This will cater to the needs of children who are/will be going to the school, bridging the gap between where they are and what the system wants them to be. This will involve, learning by doing, hands-on experiments to understand the concepts they have learned in school. 
                                </p>
          
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="{% static 'images/Projects/ssp 2.png' %}" alt="" class = "project-bottom-img">
                            </div>
                        </div>
                    </div>
                   
                </div>
               
            </div>
        </div>
    </section>


    <section class="project-single  padding-top-40" id = "women-engagement">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <h1 class="blue-heading margin-bottom-25 text-center">Women Engagement Program <img src="{% static 'images/graphics/woman-engagement.png' %}" class = "heading-img" alt=""></h1>
                        
                        <div class="single-post-slider">
                            <div class="post-slider">
                                <div class="single-slide">
                                    <img src="{% static 'images/Women Engagement Program/A new student at our stitching class.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>A new student at our stitching class</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="single-slide">
                                    <img src="{% static 'images/Women Engagement Program/a.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Women Engagement Program</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="single-slide">
                                    <img src="{% static 'images/Women Engagement Program/Girls learning to make paper bags.jpeg' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Girls learning to make paper bags</p>
                                            </div>
                                        </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Women Engagement Program/Hanaa with her mask.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Hanaa with her mask</p>
                                            </div>
                                        </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Women Engagement Program/Learning to measure and cut the cloth.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Learning to measure and cut the cloth</p>
                                            </div>
                                        </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Women Engagement Program/Mask made by a woman in the Basti.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                            <div class="content">
                                                <p>Mask made by a woman in the Basti</p>
                                            </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class = "row">
                            
                            <div class="col-md-12 text-justify">
                                <p>While working with communities, women snd young girls of the Basti have come up with a need to learn certain life skills, STITCHING being one of them.</p>
                                <p>
                                    Hence, a journey began to curate a program that enables a safe space for the Basti girls where they can have meaningful dialogue and empower each other emotionally and mentally while using 'STITCHING' as a tool. </p>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'images/Projects/wep 1.png' %}" alt="">
                            </div>

                            <div class="col-md-8 pt-5">
                                
                                <p>
                                    Stitching sessions wrapped up with storytelling, art activities and a lot of Gupshup are a routine in the class. It has paved the way for yet another need i.e to have basic literacy skills in order to support stitching. 

                                </p>
                                
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>The goal is to create a  learning space for girls who have either never been to school or have dropped out where they can explore different life possibilities to support themselves.</p>
                                    </div>

                                    <div class="col-md-4">
                                        <img src="{% static 'images/Projects/wep 2.png' %}" alt="">
                                    </div>
                                </div>
          
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="{% static 'images/Projects/wep 3.png' %}" alt="" class = "project-bottom-img2">
                                <img src="{% static 'images/Projects/wep 4.png' %}" alt="" class = "project-bottom-img2">
                            </div>
                        </div>
                    </div>
                    
                </div>
              
            </div>
        </div>
    </section>


    <section class="project-single  padding-top-40" id = "youth-led">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <h1 class="blue-heading margin-bottom-45 text-center"> 
                            Adult Literacy Program <img src="{% static 'images/graphics/adult-literacy.png' %}" class = "heading-img" alt=""></h1>
                            <div class="single-post-slider">
                                <div class="post-slider">
                                    <div class="single-slide">
                                        <img src="{% static 'images/Adult literacy Program/All adults learning Hindi.png' %}" alt="" class = "img-fluid">
                                        <!-- <a href="#" class="img-top-btn">Water</a> -->
                                        <div class="slider-describe">
                                            <div class="content">
                                                <p>All adults learning Hindi</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-slide">
                                        <img src="{% static 'images/Adult literacy Program/Kids learning shapes and numbers with Rangometry kids by Jodo Gyaan.png' %}" alt="" class = "img-fluid">
                                        <!-- <a href="#" class="img-top-btn">Water</a> -->
                                        <div class="slider-describe">
                                            <div class="content">
                                                <p>Kids learning shapes and numbers with Rangometry kids by Jodo Gyaan</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-slide">
                                        <img src="{% static 'images/Adult literacy Program/Literacy class with Aaghaz Team from Delhi.jpeg' %}" alt="" class = "img-fluid">
                                        <!-- <a href="#" class="img-top-btn">Water</a> -->
                                        <div class="slider-describe">
                                            <div class="content">
                                                <p>Literacy class with Aaghaz Team from Delhi</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="single-slide">
                                        <img src="{% static 'images/Adult literacy Program/Young adults playing group games like _Yes and...._.jpg' %}" alt="" class = "img-fluid">
                                        <!-- <a href="#" class="img-top-btn">Water</a> -->
                                        <div class="slider-describe">
                                            <div class="content">
                                                <p>Young adults playing group games like _Yes and...._</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="single-slide">
                                        <img src="{% static 'images/Adult literacy Program/Young boys of Basti at Literacy class after coming back from their work.png' %}" alt="" class = "img-fluid">
                                        <!-- <a href="#" class="img-top-btn">Water</a> -->
                                        <div class="slider-describe">
                                            <div class="content">
                                                <p>Young boys of Basti at Literacy class after coming back from their work</p>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>  
                        <div class = "row">
                            <div class="col-md-12 text-justify">
                                <p>Learning does not happen only in schools, and with this ideology, the idea of creating a safe space for all those children who have left schools or are unable to go to school due to many circumstances was extended. Learning will focus on life skills, social-emotional skills, and age-appropriate vocational skills. 
                                    After coming back from their respective jobs, young adults from the Basti join the adult literacy class in the late evening. This program will help them in gaining basic literacy skills along with digital and financial education. </p>
                                <p>
                                    This will also pave the way for the importance of education and can deepen the understanding and importance of education in the community as a whole.  </p>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-6">
                                <img src="{% static 'images/Projects/yalp 3.png' %}" alt="" class = "youth-image">
                                
                            </div>

                            <div class="col-sm-3 col-6">
                                <img src="{% static 'images/Projects/yalp 4.png' %}" alt="" class = "youth-image">
                                
                            </div>
                            
                            <div class="col-sm-3 col-6">
                                <img src="{% static 'images/Projects/yalp 5.png' %}" alt="" class = "youth-image">
                                
                            </div>

                            <div class="col-sm-3 col-6">
                                <img src="{% static 'images/Projects/yalp 6.png' %}" alt="" class = "youth-image">
                            </div>

                          
                        </div>

                       
                    </div>
                    
            </div>
        </div>
    </section>


    <section class="project-single   padding-top-40" id = "community-intervention">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <h2 class="blue-heading margin-bottom-25 text-center">Community Intervention Program Program <img src="{% static 'images/Projects/CIP_1.png' %}" class = "heading-img" alt=""></h2>
                        <div class="single-post-slider">
                            <div class="post-slider">
                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/A community member finishing off the floor of the stitching center.png' %}" alt="" class = "img-fluid">

                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>A community member finishing off the floor of the stitching center</p>
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>
                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Community leaders Amit and Jyoti facilitating their class in the center.png' %}" alt="" class = "img-fluid">

                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Community leaders Amit and Jyoti facilitating their class in the center</p>
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                </div>
                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Community member getting their Adhar Card, Pan card and Ayushman card made.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Community member getting their Adhar Card, Pan card and Ayushman card made</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Culmination Event of Community Summer Camp 2021.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Culmination Event of Community Summer Camp</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Each and every member of the community helped in building the center.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Each and every member of the community helped in building the center</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Jyoti cutting ribbon at inaugration of the center.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Jyoti cutting ribbon at inaugration of the center</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Learning center being built.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Learning center being built</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Setup for weekly community documentation drive.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Setup for weekly community documentation drive</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-slide">
                                    <img src="{% static 'images/Community Intervention Program/Whole community discussing how to build the learing center.png' %}" alt="" class = "img-fluid">
                                    <!-- <a href="#" class="img-top-btn">Water</a> -->
                                    <div class="slider-describe">
                                        <div class="content">
                                            <p>Whole community discussing how to build the learing center</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-12 text-justify">
                                <p>For a self-sustaining safe space for kids, it's important to include the whole community in the transformation. Hence, a community intervention program comes up as an important part of the process. It includes ensuring the convergence of services provided by different government departments/ agencies for the benefit of the child and their family.</p>
                                <p>This is followed by providing support in applying for personal documentation - Aadhar Card, Ration Card, Pan Card, Aayushmaan Card. In addition to that, creating a dialogue space for the communoty to discuss their daily life concerns related to hygiene, cleanliness and basic necessatities.  </p>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-6">
                                <img src="{% static 'images/Projects/CIP_2.png' %}" alt="" >
                                
                            </div>

                            <div class="col-sm-4 col-6">
                                <img src="{% static 'images/Projects/cip_3.png' %}" alt="" >
                                
                            </div>
                            
                            <div class="col-sm-4 col-6">
                                <img src="{% static 'images/Projects/CIP_4.png' %}" alt="" >
                                
                            </div>

                          

                          
                        </div>

                       
                    </div>
                    
                </div>
               
                   
            </div>
        </div>
    </section>
  
    {% endblock %}